*.log
*.bin
MyProject 4.17 - 2/Saved/AutoScreenshot.png
MyProject 4.17 - 2/Saved/Config/Windows/Editor.ini
MyProject 4.17 - 2/Saved/Config/Windows/EditorPerProjectUserSettings.ini
MyProject 4.17 - 2/Saved/Config/Windows/Engine.ini
